@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #E1CED2;
    justify-content: center;
    align-items: center;
}

.content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    position: relative;
}

.bg svg {
    height: calc(100vh - 70px);
    width: 100%;
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translate(-50%);
}

.content-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 100%;
}

.content-principal img {
    position: absolute;
    height: 260px;
    right: 0;
    bottom: 0;
}

.img-top img {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.sec-name {
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 23%;
    transform: translate(-50%);
}

.sec-name .myname {
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 1px 0 #555;
    color: #37532b;
}

.sec-name .profiss {
    font-size: 20px;
    color: #555;
    font-weight: 500;
}

.sec-service {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 36%;
    width: 100%;
    color: #501a18;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.sec-service li::marker {
    color: #37532b;
} 

.sec-service li {
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}

.media-social {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    left: 50%;
    transform: translate(-50%);
    top: 62%;
    gap: 8px;
}

.media-social a {
    text-decoration: none;
    color: #37532b;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: all 0.5s ease-in;
}

.media-social a:hover {
    background-color: #98B393;
    color: #405538;
    outline: 3px solid #405538;
    transform: translateY(-5px);
}

.media-work {
    position: absolute;
    left: 10%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.media-work a {
    font-size: 22px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #C03681;
    font-weight: 400;
    border-radius: 50%;
    padding: 4px;
    gap: 3px;
    transition: all 0.5s ease-in;
}


.content-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    background: #C03681;
    padding: 3px 0;
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #333, #000, #222);
    color: #ffbc00;
    padding: 2px 0;
    gap: 5px;
    height: 40px;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ff0058;
    font-weight: 600;
}

.footer .logo {
    transition: all .5s ease-in;
}

.footer .logo:hover {
    transform: scale(1.1);
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.heartPulse {
    width: 16px;
    animation: heartpulse 1.2s linear alternate infinite;
}

@keyframes heartpulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@media screen and (max-width:600px) {
    .content {
        width: 100%;
    }

    .content-principal img {
        height: 290px;
        right: 0;
        bottom: 0;
    }

    .media-social {
        left: 48%;
        transform: translate(-48%);
        top: 65%;
    }
}