@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('assets/img/brooke-lark-08bOYnH_r_E-unsplash.jpg') no-repeat top / cover ;
}

.content-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 100%;
}


.content-principal .imgdressa{
    /* margin-top: -200px; */
    
}

/* .sec-top,
.sec-center,
.sec-down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.sec-top {
    text-align: center;
    flex-direction: column;
}

.sec-top .myname {
    font-size: 30px;
    color: #AA141C;
}

.sec-center li::marker {
    color: #AA141C;
} 

.sec-center li {
    font-size: 18px;
    list-style: circle;
    color: #85C3CE;
}

.sec-down {
    display: flex;
    justify-content: center;
    align-self: center;

}

.sec-down img:nth-child(1){
    width: 120px;
}
.sec-down img:nth-child(2){
    width: 90px;
    height: 90px;
}

.media-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:20px 30px;
    gap: 25px;
    font-size: 30px;
}

.media-social a {
    text-decoration: none;
    color: #405538;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.5s ease-in;
}

.media-social a:hover {
    background-color: #98B393;
    color: #405538;
    outline: 3px solid #405538;
    transform: translateY(-5px);
}

.content-message {
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
    color: #222;
    letter-spacing: 1px;
    font-size: 14px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #333, #000, #222);
    color: #ff0058;
    padding: 4px 0;
    gap: 10px;
}

.footer .logo {
    transition: all .5s ease-in;
}

.footer a {
    text-decoration: none;
    color: #ffbc00;
    text-shadow: 1px 1px 1px #ff0058;
}

.footer .logo:hover {
    transform: scale(1.1);

}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.heartPulse {
    width: 20px;
    animation: heartpulse 1.2s linear alternate infinite;
}

@keyframes heartpulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}